[run]
# Specify the source directories to include
source =
    engine
    web 
    api
    adapter

# Exclude specific directories or files
omit =
    */migrations/*
    */tests/*
    */manage.py
    */wsgi.py
    */asgi.py
    */__init__.py
    */admin.py
    */apps.py
    */settings.py
    */urls.py
    */wsgi.py
    */asgi.py
    */tests/*
    */static/*
    */media/*
    .github/*
    venv/*
    env/*
    .venv/*
    .env/*
    ./*.py
