# Virtual Environment
venv/
.env

# Python
*.pyc
# Django
*.log
db.sqlite3
/media/
/static/

# React
node_modules/
npm-debug.log
yarn-error.log
build/

# VSCode specific files
.vscode/
*.code-workspace
.history/

# PyCharm specific files
.idea/
*.iml
*.ipr
*.iws
*.bak
*.pydevproject
*.pyc

# macOS specific files
.DS_Store

# Coverage
htmlcov

datasource.py
profile.txt
