<div class="flex flex-col space-y-2">
    <div class="flex items-center">
        <input
                type="checkbox"
                name="{{ widget.name }}"
                id="{{ widget.attrs.id }}"
                value="1"
                {% if widget.value %}checked{% endif %}
                {% if widget.attrs.required %}required{% endif %}
                        {% for attr_name, attr_value in widget.attrs.items %}
                            {% if attr_name != 'id' and attr_name != 'label' and attr_name != 'required' %}
                                {{ attr_name }}="{{ attr_value }}"
                            {% endif %}
                        {% endfor %}
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-black focus:ring-2 focus:ring-offset-0 focus:outline-none transition"
        />
        {% if widget.attrs.label %}
            <label for="{{ widget.attrs.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                {{ widget.attrs.label }}
                {% if widget.attrs.required %}<span class="text-red-500 ml-1">*</span>{% endif %}
            </label>
        {% endif %}
    </div>
    {% if form.errors %}
        {% for error in form.errors.name %}
                <span class="text-xs text-red-600 mt-1">{{ error }}</span>
            {% endfor %}
    {% endif %}
</div>