{% load humanize i18n %}

<div class="paging flex flex-row items-center h-10">
  {% if actions|length and paginator.count %}
    <div style="padding-left: 1em;margin-bottom:-0.4em" class="check">
      <input  type="checkbox" onclick="void(0)" class="select-all"/>
    </div>
  {% endif %}
  
  <div class="paging-range mr-4">
    {% blocktrans trimmed with start=page_obj.start_index|intcomma end=page_obj.end_index|intcomma total=paginator.count|intcomma %}
      {{ start }} - {{ end }} of {{ total }}
    {% endblocktrans %}
  </div>
  <div style="margin-top:2px;" class="paging-controls flex flex-row mr-2">
    <div class="paging-previous mr-2">
      {% if page_obj.has_previous %}
        <div onclick="goto(event, this)"
             href="{{ request.path }}{{ url_params|safe }}page={{ page_obj.previous_page_number }}"
             class="linked">
          >
        </div>
      {% else %}
        <div class="disabled">
          <
        </div>
      {% endif %}
    </div>
    <div class="paging-next">
      {% if page_obj.has_next %}
        <div onclick="goto(event, this)"
             href="{{ request.path }}{{ url_params|safe }}page={{ page_obj.next_page_number }}"
             class="linked">
          >
        </div>
      {% else %}
        <div class="disabled">
          <
        </div>
      {% endif %}
    </div>
  </div>
</div>
