{% extends 'base/base.html' %}

{% block content %}
    <div class="container shadow-md m-10 p-6 bg-white w-1/2">
        <form method="post" class="my-6">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-error form-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {{ form }}
            <div class="mt-4">
                <input type="submit" value="Sign Up" class="button-primary">
            </div>
        </form>
    </div>
{% endblock %}